<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Sql_ConnectString" value="Data Source=(local);Integrated security=SSPI;Initial Catalog=RCEIS;" />
		<add key="SqlMSDE_ConnectString" value="Data Source=COMPUTER\MSDE;Integrated security=SSPI;Initial Catalog=RCEIS;" />
	</appSettings>
</configuration>
